<%= form_tag(player_settlements_path(player), :method => "post") do %>
  <%= hidden_field_tag(:player_id, player.id) %>
  <div>
    <%= label_tag(:vertex_x, "X Position: ") %>
    <%= text_field_tag :vertex_x, nil, :required => true %>
  </div>
  <div>
    <%= label_tag(:vertex_y, "Y Position: ") %>
    <%= text_field_tag :vertex_y, nil, :required => true %>
  </div>
  <div>
    <%= label_tag(:side, "Side: ") %>
    <%= text_field_tag :side, nil, :required => true %>
  </div>            
  <div class="actions">
    <%= submit_tag("Submit") %>
  </div>            
<% end %>