<% content_for :page_specific_js do %>
  <%= javascript_include_tag "game-bundle" %>
<% end %>

<p id="notice"><%= notice %></p>

<!--<div id="map" style="width: 1000px; height: 500px; background-color: blue;"></div>-->

<table id="stats">
  <tr>
    <th>Player</th>
    <th>Resources</th>
    <th>Development Cards</th>
    <th>Victory Points</th>
    <th>Longest Road</th>
  </tr>
  <% @game.sorted_players.each do |player| %>
    <tr>
      <td><%= player.user.displayname %></td>
      <td><%= player.get_resource_count %></td>
      <td><%= player.development_cards.count %></td>
      <td><%= 0 %></td>
      <td><%= 0 %></td>
    </tr>
  <% end %>
</table>

<% my_player = @game.players.where(:user_id => current_user.id).first %>
<% if my_player %>
  <div>
    <h4>Action</h4>
    <div>
      <% case my_player.turn_status %>
      <% when WAITING_FOR_TURN %>
        Waiting For Turn
      <% when PLACING_INITIAL_SETTLEMENT %>
        Place a settlement
        <%= form_tag("/settlements", :method => "post") do %>
          <%= hidden_field_tag(:player_id, my_player.id) %>
          <div>
            <%= label_tag(:vertex_x, "X Position: ") %>
            <%= text_field_tag :vertex_x, nil, :required => true %>
          </div>
          <div>
            <%= label_tag(:vertex_y, "Y Position: ") %>
            <%= text_field_tag :vertex_y, nil, :required => true %>
          </div>
          <div>
            <%= label_tag(:side, "Side: ") %>
            <%= text_field_tag :side, nil, :required => true %>
          </div>            
          <div class="actions">
            <%= submit_tag("Submit") %>
          </div>            
        <% end %>
      <% when PLACING_INITIAL_ROAD %>
        Place a road
        <%= form_tag("/roads", :method => "post") do %>
          <%= hidden_field_tag(:player_id, my_player.id) %>
          <div>
            <%= label_tag(:edge_x, "X Position: ") %>
            <%= text_field_tag :edge_x, nil, :required => true %>
          </div>
          <div>
            <%= label_tag(:edge_y, "Y Position: ") %>
            <%= text_field_tag :edge_y, nil, :required => true %>
          </div>
          <div>
            <%= label_tag(:side, "Side: ") %>
            <%= text_field_tag :side, nil, :required => true %>
          </div>                
          <div class="actions">
            <%= submit_tag("Submit") %>
          </div>            
        <% end %>
      <% when READY_TO_ROLL %>
        <%= form_tag("/dice_rolls", :method => "post") do %>
          <%= hidden_field_tag(:player_id, my_player.id) %>
          <%= submit_tag("Roll the dice") %>
        <% end %>
      <% when DISCARDING_CARDS_DUE_TO_ROBBER %>
        <%= "Discard #{my_player.get_resource_count/2} resources" %>
        <%= form_tag(resources_update_multiple_path, :method => "patch") do %>
          <%= hidden_field_tag(:player_id, my_player.id) %>
          <% my_player.resources.each do |resource| %>
            <div>
              <%= resource.name << ":" %>
              <% options = (0..(resource.count)).map{|num| [num.to_s, num]} %>
              <%= select_tag("delete[#{resource.type}]", options_for_select(options)) %>
            </div>
          <% end %>
          <%= submit_tag("Discard") %>
        <% end %>
      <% when MOVING_ROBBER %>
        Moving robber
      <% when CHOOSING_ROBBER_VICTIM %>
        Choosing robber victim
      <% when PLAYING_TURN %>
        Playing turn
      <% when WAITING_FOR_TRADE_RESPONSE %>
        Waiting for Trade Response
      <% when CONSIDERING_TRADE %>
        Considering trade
      <% end %>
    </div>
  </div>
<% end %>
